#graph_container{
    position: relative;
    width: 100%;
    height: 270px;
    left: 0px;
}

#ensModalForm input.form-control {
    height: 25px !important;
    width: 60px !important;
    padding: 2px;
    margin-right: 21px;
}

#ensModalForm .controls {
    margin-bottom: 8px;
}

#dimensions_form {
    padding-bottom: 5px;
}

#dimensions_val_1 {
    height: 25px !important;
    width: 60px !important;
    padding: 2px;
    margin-right: 21px;
}

.slider {
    margin-right: 21px;
}

.slider-selection {
	background: #5da3ff;
}

.slider-track-high, .slider-track-low{
	background: #DDD;
}

.slider-handle {
	background: #AAA;
}
