language: python
sudo: required
python:
  - "2.7"
before_install:
  - sudo apt-get install npm
install: 
  - "pip install -r requirements-test.txt"
  - "sudo npm install -g mocha"
before_script:
  - "python setup.py develop"
  - "export DISPLAY=:99.0"
  - /sbin/start-stop-daemon --start --quiet --pidfile /tmp/cucumber_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1920x1080x16
  - sleep 3 # give xvfb some time to start
  - "wget http://selenium.googlecode.com/files/selenium-server-standalone-2.31.0.jar"
  - "java -jar selenium-server-standalone-2.31.0.jar > /dev/null &"
  - "nengo_gui &"#starts up nengo_gui
  - sleep 2
# command to run tests
script: 
  - py.test
  - mocha
