#editor {
    position: fixed;
    float:right;
    right: 0;
    z-index: 99998;
    border-left:5px solid #606060;
}

#console {
    position: fixed;
    float:right;
    right: 0;
    z-index: 99997;
    border-left:5px solid #606060;
    border-top:5px solid #606060;
    border-radius: 0px;
    font-family: monospace;
    overflow: auto;
}

#console pre {
    padding: 0px;
    margin: 0px;
    background: white;
    border: 0px;
}

#console_stdout {
    color: black;
    border-bottom: 1px solid black;
}

#console_error {
    color: red;
}


