#editor {
    position: fixed;
    float:right;
    right: 0;
    z-index: 99998;
    border-left:5px solid #606060;
}

#console {
    position: fixed;
    float:right;
    right: 0;
    z-index: 99997;
    border-left:5px solid #606060;
    border-top:5px solid #606060;
    padding-left: 0.5em;
    border-radius: 0px;
    overflow: auto;
}

#console pre {
    padding: 0px;
    margin: 0px;
    background: white;
    border: 0px;
    /* Use same font-family as Ace editor */
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

#console_stdout {
    color: black;
}

#console_error {
    color: red;
    font-weight: bold;
}
