.drag_drop_menu{
  height:100%;
  background: #ddd;
  color:inherit;
  overflow: hidden;

}

.off{
    cursor: pointer;
    background: inherit;
    fill: rgb(180,180,180);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.2s;
}
.on{
    cursor: pointer;
    background-color: #BBB;
    fill: #DDD;
    color: #000;
    box-shadow: inset 0 0 5px #666;
}


#mode_list{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    color: inherit;
    z-index: 99999;
    padding-left: 20px;
}

.mode{
    position: relative;
    float: left;
    border-radius: 5px;
    width: 110px;
    height: 90px;
    margin: 10px;
    border: 1px solid black;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
}
.mode > div{
    text-align: center;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.mode > div >svg{
    width: 60%;
}

.mode > div > p{
    position: absolute;
    bottom: -5px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.off:hover{
    background-color: #BBB;
    fill: #DDD;
    color: #000;
}

.node_effect_good > rect:nth-child(2){
    fill: #5DFC0A !important;
}

.node_effect_bad > rect:nth-child(2){
    fill: #FD0000 !important;
}

.ens_effect_good > .ensemble{
    fill: #5DFC0A !important;
}
