#drag_drop_menu{
  padding-top: 10px;
  padding-left: 50px;
  height:100%;
  background: #666;
  color:white
}

.draggable {
  width: 150px;
  height: 150px;
  z-index: 200;
  margin-bottom: 10px;
  color: white;
}

.draggable:hover {
  cursor: pointer;
}
