html {
    height: 100%;
}

body {
    cursor: inherit;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    user-select: none;
    width: 100%;
}

/* #main {
   background: white;
   flex: 1 1 auto;
   overflow: hidden;
   position: relative;
   } */

#vmiddle {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    position: relative;
}

div.minimap {
    background: white;
    border: 2px solid #787878;
    height: 15%;
    left: 84.5%;
    position: absolute;
    top: 82.5%;
    width: 15%;
    z-index: 99999999;
}
