.modal-body {

    .tab-pane {
        margin: 20px;
    }

    input {
        cursor: text !important;
    }

    .tab-pane .dt-connections {
        margin-top: 20px;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .form-group {
        text-indent: 20px;
    }

    .with-errors {
        font-size: .8em;
    }

    .tab-pane {

        .list-group-item {
            padding: 5px 10px;
        }

        .list-group-item.shaded {
            color: #aaaaaa;
        }

        > h3 {
            font: {
                size: 1.3em;
                weight: bold;
            }
        }

        th {
            font-size: 1em;
            font-weight: bold;
            border: 0px;
            background-color: #dddddd;
        }

        td {
            font-size: 0.9em;
            border: 0px;
        }
    }

    table {
        .conn-objs {
            width: 30%;
        }

        .conn-funcs {
            width: 50%;
        }

        .conn-fan {
            width: 20%;
        }

        ul > li > .glyphicon {
            padding-right: 8px;
        }

        th .glyphicon {
            padding-left: 8px;
        }
    }

    .tooltip-inner {
        max-width: 350px;
        text-align: left;
        white-space: pre-wrap;
    }

    .popover {
        max-width: 350px;
    }

    .popover-title,
    .popover-content {
        font-size: 0.9em;
        padding: 5px 10px;
        text-align: left;
        white-space: pre-wrap;
    }

    .popover-title {
        line-height: 1.2;
    }
}

div.modal-backdrop {
    z-index: 100000000;
}

.alert .glyphicon {
    padding-right: 5px;
}

div.modal {
    z-index: 100000001;
    cursor: default !important;
}

#config-fontsize.form-control,
#config-scriptdir.form-control {
    padding: 6px 6px;
    height: 35px;
}

.input-group .input-group-addon {
    text-indent:0px;
}

#myModalForm {
    .form-group {
        margin-bottom: 0px;
    }

    checkbox {
        padding-top: 0px;
        text-indent: 10px;
    }

    .form-group select,
    .form-group input[type=text]  {
        margin-left: 20px;
        width: calc(100% - 40px);
    }
}

.input-group.col-xs-2 {
    left: 20px;
}

.modal-dialog.modal-sm td {
    padding: 4px;
}
