html {
    height: 100%;
}

body {
    cursor: inherit;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    user-select: none;
    width: 100%;
}

/* #main {
   background: white;
   flex: 1 1 auto;
   overflow: hidden;
   position: relative;
   } */

#vmiddle {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    position: relative;
}

div.minimap {
    background: white;
    border: 2px solid #787878;
    height: 15%;
    left: 84.5%;
    position: absolute;
    top: 82.5%;
    width: 15%;
    z-index: 99999999;
}

.graph {
    background: #eeeeee;
}

.line {
    fill: none;
    stroke: black {
        width: 1.5px;
    }
}

.graph {
    background-color:rgba(255,0,0,0);
    border: 1px solid rgba(255,0,0,0);

    &:hover {
        border: 1px solid #888888;
    }

    text {
        cursor: default;

        &:active {
            cursor: move;
        }
    }

    .line {
        fill: none;
        stroke: black {
            width: 1.5px;
        }
    }

    svg .axis path {
        stroke: black;
        stroke-width: 1px;
        fill: none;
    }

    text.graph_text {
        font-size: .8em;
        pointer-events: none;
    }

    .axis text {
        font-size: .8em;
        pointer-events: none;
    }

    .label {
        font: {
            size: 1em;
            family: sans-serif;
            weight: normal;
        }
        color: black;
        pointer-events: none;
    }
}
