
.sidenav {
    --nav-width: 250px;
    height: 100%;
    width: var(--nav-width);
    position: fixed;
    z-index: 5;
    top: 0px;
    left: 0;
    background-color: #303136;
    overflow-x: hidden;
    transition: 0.5s;
    border-right: 4px solid #4D4D4D;
    font-size: 0px;
}

.sidenav .sub_menu{
  font-size: 15px;
  float: left;
  width: var(--nav-width);
  height:600px;
  top: 0px;
  margin-right:0px;
}

.sidenav #Menu_info{
  position: absolute;
  width: 2000px;
  margin: 0px;
  padding: 0px;
}

.sidenav  a{
    font-size: 15px;
    color: white;
    display: block;
    transition: 0.3s
}

.nav-tabs > li > a:hover{
  background-color: #303136 !important;
  color:#fff;
}

.nav-tabs .menu_tab.selected a{
  background-color: #4D4D4D !important;
  color:#fff;
  border-color: white;
}

.accordion-toggle {
  cursor: pointer;
  width: 100%;
  background: none;
  height:40px;.
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  margin-bottom: -1px;
  color: white;
}

.accordion-toggle:hover {
  background: #4D4D4D;
  color: white;
}

.accordion-toggle .title{
  padding-left: 8px;
  padding-top: 8px;
  float:left;
  font-size: 14px;
}
.accordion-toggle .icon {
  padding-right: 8px;
  padding-top: 12px;
  float:right;
  font-size: 14px;
}
.accordion-content {display: none;}

.accordion-content.default {display: block;}

#open{
    position:fixed;
    top:40px;
    left: -2px;
    z-index:2;
    background-color: #303136;
    color: white;
    font-size: 18px;
    width:60px;
    transition: 0.3s;
    height: 45px;
    text-align: left;
}

#open:hover{
    background: #303136;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    width: 85px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
