#top_toolbar_div .glyphicon {
    color: #333;
    cursor: default;
    top: 0;
    border-radius: 0;
}

#top_toolbar_div li {
    z-index: 2;
}

#top_toolbar_div .glyphicon:hover {
    color: #eee;
    background: #666;
}

#top_toolbar_div .deactivated .glyphicon {
    color: #ccc;
}

#top_toolbar_div .deactivated .glyphicon:hover {
    color: #ccc;
    background: none;
}

#top_toolbar_div {
    overflow-x: hidden;
    position: absolute;
    right: 0;
    width: 25%;
    z-index: 99999;
    border-left: 5px solid #4D4D4D;
    border-bottom: 1px solid #4D4D4D;
}

#top_toolbar_div .nav {
    background: #eee;
    box-shadow: 0px 2px 4px 0px #999;
}

#filename{
    z-index: 1;
    position: relative;
    white-space: nowrap !important;
    float: right;
    padding-top: 0.5em;
    cursor: default !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

#filename:hover {
    color: #eee;
    background: #666;
}

#Help_button{
    float: right;
}

#filebrowser {
    position: relative;
    top: 0;
    left: 0;
    width: 250px;
    height: 300px;
    border-bottom-right-radius: 4px;
    color: white;
    padding: 0.2em;
    background-color: grey;
    z-index: 99999;
    overflow: auto;
    cursor: pointer !important;
}

#filebrowser a:hover {
    color: #eee;
    background: #666;
}

#Toggle_ace, #Save_file, #Sync_editor_button, #Font_increase, #Font_decrease{
    float: right;
}

#top_toolbar_div li.disabled a.glyphicon {
    color: #ccc;
    background: #eee;
}

#filebrowser li.examples_dir {
    background-color: #ccc;
}

#global_config_menu {
    background: purple;
    height: 20em;
    width: 20em;
    z-index: 99999;
    margin-top: 3em;
    position: absolute;
}
