#graph_container{
    position: relative;
    width: 500px;
    height: 270px;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
}
.controls > label{
    margin-right: 15px !important;
}
#ens_dimension{
    width: 100px
}

.slider {
    margin-right: 15px;
}

#ensModalForm .form-control {
    height: 25px !important;
    width: 40px !important;
    padding: 2px;
}

.slider-selection {
	background: #5da3ff;
}

.slider-track-high {
	background: #EEE;
}

.slider-handle {
	background: #A6A6A6;
}
