:root {
    --light: gray(94%);
    --dark: gray(60%);
}

.debug {
    height: 100%;
    width: 100%;
}

.debug-controls {
    /* align-items: baseline; */
    background-color: var(--light);
    border: 1px var(--dark) solid {
        radius: 5px 5px 0 0;
    }
    bottom: 0;
    display: flex;
    height: 200px;
    left: 0;
    position: absolute;
    width: 100%;

    .btn {
        margin-bottom: 4px;
        .caret {
            margin-left: 4px;
        }
    }

    .btn-block + .btn-block {
        margin-top: 0;
    }

    .control-group {
        display: flex;
        border-right: 1px var(--dark) solid;
        flex-direction: column;
        padding: {
            left: 8px;
            right: 8px;
            top: 8px;
        }

        p {
            display: inline-block;
        }

        /* &.meta { */
        /*     width: 60px; */
        /* } */

        &.last {
            border-right: none;
        }
    }
}
