<html>
<head>
    <script src="static/interact-1.2.2.js"></script>
    <script src="static/d3.v3.min.js" charset="utf-8"></script>
    <link href="static/main.css" rel="stylesheet" type="text/css" />
    <script src="static/viz.js"></script>
    <link href="static/viz.css" rel="stylesheet" type="text/css" />
    <script src="static/viz_value.js"></script>
    <link href="static/viz_value.css" rel="stylesheet" type="text/css" />
    <script src="static/viz_slider.js"></script>
    <link href="static/viz_slider.css" rel="stylesheet" type="text/css" />
    <script src="static/viz_sim_control.js"></script>
    <link href="static/viz_sim_control.css" rel="stylesheet" type="text/css" /> 
    <script src="static/lib/js/jquery-2.1.3.min.js"></script>
    <script src="static/lib/js/bootstrap.min.js"></script>
    <link href="static/lib/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="static/viz_config.js"></script>

<div id='trial'></div>
<script>
function onload() {
main = document.getElementById("main");
control = document.getElementById("control");
%(components)s
}
</script>
</head>
<body onload="onload();">
<div id="main"></div>
<div id="control"></div>
</body>
</html>
