<html>
    <head>     
        <link href="static/main.css" rel="stylesheet" type="text/css" />
        <link href="static/viz.css" rel="stylesheet" type="text/css" />
        <link href="static/viz_value.css" rel="stylesheet" type="text/css" />
        <link href="static/viz_raster.css" rel="stylesheet" type="text/css" />
        <link href="static/viz_slider.css" rel="stylesheet" type="text/css" />
        <link href="static/viz_pointer.css" rel="stylesheet" type="text/css" />
        <link href="static/viz_sim_control.css" rel="stylesheet" type="text/css" /> 
        <link href="static/viz_netgraph.css" rel="stylesheet" type="text/css" /> 
        <link href="static//lib/css/bootstrap.min.css" rel="stylesheet" type="text/css" /> 
    </head>
    <body onload="onload();">
        <div id="main"></div>
        <div id="control"></div>
        <script>
            function onload() {
                main = document.getElementById("main");
                control = document.getElementById("control");
                %(components)s
            }
        </script>
        <script src="static/lib/js/interact-1.2.4.js"></script>
        <script src="static/lib/js/d3.v3.min.js" charset="utf-8"></script>
        <script src="static/lib/js/jquery-2.1.3.min.js"></script>
        <script src="static/lib/js/bootstrap.min.js"></script>
        <script src="static/viz.js"></script>
        <script src="static/viz_value.js"></script>
        <script src="static/viz_xyvalue.js"></script>
        <script src="static/viz_raster.js"></script>
        <script src="static/viz_slider.js"></script>
        <script src="static/viz_pointer.js"></script>
        <script src="static/viz_sim_control.js"></script>
        <script src="static/viz_netgraph.js"></script>
        <script src="static/viz_netgraph_item.js"></script>
        <script src="static/viz_netgraph_conn.js"></script>
        <script src="static/viz_menu.js"></script>
    </body>
</html>
