svg {
    rect.overlay {
        fill: transparent;
    }

    .line {
        fill: none;
        stroke: black {
            width: 1.5;
        }
    }

    .plots {
        rect.overlay {
            stroke: gray(40%) {
                width: 1;
            };
        }
    }

    .axes {

        &:hover {
            border: 1px solid #888888;
        }

        .label {
            font: 1em normal sans-serif;
        }

        .line {
            fill: none;
            stroke: black {
                width: 1.5px;
            }
        }

        text {
            cursor: default;
            font-size: 0.8em;

            &:active {
                cursor: move;
            }
        }

        .axis {
            path {
                stroke: black {
                    width: 1;
                }
                fill: none;
            }
        }

        .crosshairX {
            text {
                dominant-baseline: text-before-edge;
            }
        }

        .crosshairY {
            text {
                dominant-baseline: middle;
                text-anchor: end;
            }
        }
    }
}
