svg.netgraph {

    g.node rect {
        fill: gray(80%);
        stroke: gray(50%) {
            width: 1;
        }
    }

    g.passthrough circle {
        fill: black;
        stroke: none;
    }
}
