.warning-text {
    background-color: white;
    box: {
        align: center;
        pack: center;
    }
    border: 1px dashed #a94442;
    color: #a94442;
    display: box;
    margin: {
        left: 20%;
        right: auto;
    }
    position: absolute;
    text-align: center;
    top: 37%;
    width: 60%;
}
