html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
    width: 100%;
    cursor: inherit;
}

#main {
    background: white;
    width: 100%;
    height: calc(100% - 80px);
    position: relative;

}

.graph {
    background: #eeeeee;
}

.line {
    fill: none;
    stroke: black;
    stroke-width: 1.5px;
}
