body {
    margin: 0px;
}

#main {
    background: white;
    width: 100%;
    height: calc(100% - 80px);
}

.graph {
    background: #eeeeee;
}
    
.line {
    fill: none;
    stroke: black;
    stroke-width: 1.5px;    
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}