body {
    margin: 0px;
}

#main {
    background: white;
    width: 100%;
    height: calc(100% - 80px);
}

.graph {
    background: #eeeeee;
}
    
.line {
    fill: none;
    stroke: black;
    stroke-width: 1.5px;    
}
