.graph {
    background-color:rgba(255,0,0,0);
    border: 1px solid rgba(255,0,0,0);
}

.dropdown{
	display: none;
}

.graph:hover{
    border: 1px solid #888888;
}

.graph:hover .dropdown{
    display: block;
}

.graph .label {
    color: black;
}
