.netgraph {
}

g.ens ellipse{
    stroke-width:1;
    stroke: gray;
    }
    
g.node rect{
    stroke-width:1;
    stroke: gray;
    }  

g.net rect{
    stroke-width:1;
    stroke: gray;
    }  

.netgraph g text {
    text-anchor: middle;
    dominant-baseline: central;
    }
.netgraph g.expanded text {
    text-anchor: middle;
    dominant-baseline: text-before-edge;
    }    

.netgraph line {
    stroke: black;
    stroke-width: 2px;
}

.netgraph ellipse.recurrent {
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

.netgraph g.passthrough ellipse {
    stroke-width: 0px;
    fill: black;
}

.netgraph g.passthrough text {
    text-anchor: middle;
    dominant-baseline: text-before-edge;
    }    

