.modal-body .tooltip-inner {
    white-space:pre-wrap;
    text-align:left;
    max-width:350px;
}

.modal-body .popover {
    max-width: 350px;
}

.modal-body .popover-title,
.modal-body .popover-content {
    white-space:pre-wrap;
    text-align:left;
    font-size:0.9em;
    padding:5px 10px;
}

.modal-body .popover-title {
    line-height:1.2;
}
