.netgraph {
}

.ensemble{
    stroke-width:1;
    }
    
g.node rect{
    stroke-width:1;
    }  

g.net rect{
    stroke-width:1;
    }  

.netgraph g text {
    text-anchor: middle;
    dominant-baseline: text-before-edge;
    cursor: default;
    }  
.netgraph g text:active {
    cursor: move;
}

.netgraph line {
    stroke: black;
    stroke-width: 2px;
}

.recur {
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

.netgraph g.passthrough ellipse {
    stroke-width: 0px;
    fill: black;
}

.netgraph g.passthrough text {
    text-anchor: middle;
    dominant-baseline: text-before-edge;
    }    

