.graph .line {
    fill: none;
    stroke: black;
    stroke-width: 1.5px;    
}

.graph svg .axis path {
    stroke: black;
    stroke-width: 1px;
    fill: none;
}

.graph svg .axis .tick .graph_text {
    font-size: 12px;
    font-family: serif;
}