.nav {
	background-color: #6699ff;
}

.glyphicon {
	color: black;
}

.nav {
	position: absolute;
	width: 100%;
	z-index: 99999;
}

#model_name {
	float: right;
	margin-top: 0.5em;
	margin-right: 1em;
}

#filebrowser {
    position: absolute;
    top:40px;
    left: 5px;
    width: 200px;
    height: 300px;
    border-top: solid 2px #BBB;
    border-left: solid 2px #BBB;
    border-bottom: solid 2px #BBB;
    border-right: solid 2px #BBB;
    background-color: #99ccff;
    z-index: 1000;
    overflow: auto;
}

#modal_wrapper.overlay:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: #000;
    background: rgba(0,0,0,0.7);
}

#modal_window {
    display: none;
    z-index: 200;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 360px;
    padding: 10px 20px;
    background: #fff;
    border: 5px solid #999;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#modal_wrapper.overlay #modal_window {
    display: block;
}
