.modal-body .tab-pane {
    margin: 20px;
}

.modal-body .tab-pane .dt-connections {
    margin-top: 20px;
}

.modal-body .axis path,
.modal-body .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

div.modal-backdrop {
    z-index: 100000000;
}

.alert .glyphicon {
    padding-right: 5px;
}

.modal-body .tab-pane .list-group-item {
    padding: 5px 10px;
}

.modal-body .tab-pane .list-group-item.shaded {
    color: #aaaaaa;
}

.modal-body .tab-pane#connections h3 {
    font-size: 1.3em;
    font-weight: bold;
}

.modal-body .tab-pane#connections th {
    font-size: 1em;
    font-weight: bold;
    border: 0px;
    background-color: #dddddd;
}

.modal-body .tab-pane#connections td {
    font-size: 0.9em;
    border: 0px;
}
