.nav {
	background-color: #6699ff;
}

.glyphicon {
	color: black;
}

.nav {
	position: absolute;
	width: 100%;
	z-index: 99999;
}

#model_name {
	float: right;
	margin-top: 0.5em;
	margin-right: 1em;
}

#filebrowser {
    position: absolute;
    top:40px;
    left: 5px;
    width: 200px;
    height: 300px;
    border-top: solid 2px #BBB;
    border-left: solid 2px #BBB;
    border-bottom: solid 2px #BBB;
    border-right: solid 2px #BBB;
    background-color: #999;
    z-index: 1000;
    overflow: auto;
}

