.netgraph {
}

g.ens ellipse{
    stroke-width:0;
    }
    
g.node rect{
    stroke-width:0;
    }  

g.net rect{
    stroke-width:0;
    }  
    

.netgraph g text {
    text-anchor: middle;
    dominant-baseline: central;
    }
.netgraph g.expanded text {
    text-anchor: middle;
    dominant-baseline: text-before-edge;
    }    

.netgraph line {
    stroke: black;
    stroke-width: 2px;
}
