.nav {
	background-color: #6699ff;
}

.glyphicon {
	color: black;
}

.nav {
	position: absolute;
	width: 100%;
	z-index: 99999;
}

#model_name {
	float: right;
	margin-top: 0.5em;
	margin-right: 1em;
}