<html>
    <head>
      <link rel="icon" href="static/dist/favicon.ico" type="image/x-icon">
    </head>
    <!-- body needs an ID to fix cursor in Firefox -->

    <body id="body" onload="onload();">
        <!-- Contains all sidenav html -->
        <div class="sidenav-container">

            <!-- holds all the sidenav content -->
            <div id="Menu_content">

                <!-- tab-content hold the content for their correpsonding sidenav tab -->
                <!-- The first tab-content holds the content for the first menu tab -->
                <div class="tab-content">
                    <div id="filebrowser"></div>
                </div>

                <div class="tab-content">
                    <div class="accordion-container" id="accordion-container1">
                        <!-- side-menu-item creates a menu item for non accordion content -->
                        <div id='Config_button' class="side-menu-item">
                            <p class="title">Configure Settings</p>
                            <p class="icon">
                                <span class='glyphicon glyphicon-cog'></span>
                            </p>
                        </div>

                        <div class="accordion-toggle">
                            <p class="title">Download</p>
                            <p class="icon">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </p>
                        </div>
                        <div class="accordion-content">
                            <div class="side-menu-item indent" id="Download_button">
                                <p class="title">Download Simulation Data</p>
                                <p class="icon">
                                    <span class="glyphicon glyphicon-signal"></span>
                                </p>
                            </div>
                            <div class="side-menu-item indent" id='Pdf_button'>
                                <p class="title">Export layout as SVG</p>
                                <p class="icon">
                                    <span class="glyphicon glyphicon-picture"></span>
                                </p>
                            </div>
                        </div>

                        <div id='Minimap_button' class="side-menu-item">
                            <p class="title">Minimap</p>
                            <p class="icon">
                                <span class='glyphicon glyphicon-credit-card'></span>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div id="top_toolbar_div">
            <ul id='toolbar_object' class="nav nav-pills">
                <li id='Open_file_button' role="presentation">
                    <a title='Open file' class='glyphicon glyphicon-folder-open'> </a>
                </li>
                <li id='Config_menu' role="presentation">
                    <a title='Utilities' class='glyphicon glyphicon-wrench'> </a>
                </li>
                <li id='Reset_layout_button' role="presentation">
                    <a title='Reset model layout' class='glyphicon glyphicon-trash'> </a>
                </li>
                <li id='Undo_last_button' role="presentation">
                    <a title='Undo last' class='glyphicon glyphicon-share-alt reversed'> </a>
                </li>
                <li id='Redo_last_button' role="presentation">
                    <a title='Redo last' class='glyphicon glyphicon-share-alt'> </a>
                </li>
                <li id='Help_button' role="presentation">
                    <a title='List of hotkeys' class='glyphicon glyphicon-question-sign'> </a>
                </li>
                <li id='Toggle_ace' role="presentation">
                    <a title='Open code editor' class='glyphicon glyphicon-list-alt'> </a>
                </li>
                <li id='Font_decrease' role="presentation">
                    <a title='Decrease font size' class='glyphicon glyphicon-zoom-out'> </a>
                </li>
                <li id='Font_increase' role="presentation">
                    <a title='Increase font size' class='glyphicon glyphicon-zoom-in'> </a>
                </li>
                <li id='Save_file' class='disabled' role="presentation">
                    <a title='Save file' class='glyphicon glyphicon-floppy-save'> </a>
                </li>
                <li id='Sync_editor_button' class='disabled' role="presentation">
                    <a title='Sync diagram with editor' class='glyphicon glyphicon-circle-arrow-left'> </a>
                </li>
                <li role="presentation">
                    <div id='filename'></div>
                </li>
            </ul>
        </div>
        <div id="vmiddle">
          <div id="main" class="droppable"></div>
          <div id="rightpane"></div>
        </div>
        <div id="control">
            <button id='reset_button' class="btn btn-default reset-button">
                <span id='reset_button_icon' class="glyphicon glyphicon-fast-backward">
                </span>
            </button>
            <div class="time_slider">
                <div class="shown_time"></div>
            </div>
            <button id='pause_button' class="btn btn-default play-pause-button">
                <span id='pause_button_icon' class="glyphicon glyphicon-play">
                </span>
            </button>
            <div id='time_table' >
                <div id='speed_throttle'></div>
                <table class='table metrics-container'>
                    <tbody>
                        <tr id="rate_tr"><td></td><td></td></tr>
                        <tr id="ticks_tr"><td></td><td></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
                <h4 class="modal-title"></h4>
              </div>
              <div class="modal-body"></div>
              <div class="modal-footer"></div>
            </div>
          </div>
        </div>
        <!-- White out the page while loading -->
        <div id="loading-div" style="z-index:100000002; position:absolute; top:0; right:0; bottom:0; left:0; background:#ffffff;"></div>
        <script>
            function onload() {
                viewport = new Nengo.Viewport();
                main = document.getElementById("main");
                control = document.getElementById("control");
                %(components)s
                body = document.getElementById("body");
                body.removeChild(document.getElementById("loading-div"));
            }
        </script>
        <script src="static/dist/nengo.js" type="text/javascript" charset="utf-8"></script>
        %(plugins)s
    </body>

</html>
