<html>
  <head>
    <link rel="icon" href="static/dist/favicon.ico" type="image/x-icon">
  </head>
  <!-- body needs an ID to fix cursor in Firefox -->

  <body id="body" onload="onload();">
    <script>
      function onload() {
        body = document.getElementById("body");
        body.removeChild(document.getElementById("loading-div"));
        %(main_components)s
        nengo = new Nengo.default(simargs, filename, editoruid, netgraphargs);
        %(components)s
      }
    </script>
    <script src="static/dist/nengo.js" type="text/javascript" charset="utf-8"></script>
  </body>

</html>
